.jumbotron {
	text-align: center;
	background-color: #eb89ba48;
	opacity: 0.7;
}

.display-4 {
	font-size: 60px;
	font-family: 'Times New Roman', Times, serif
}

.lead {
	padding: 10px;
}

body {
	height: 100%;
	width: 100%; 
	background-color: #ffebf5;
	background-repeat: no-repeat;
	background-size: cover;
}
.circles{
	align-items: center;
}
.circle-1,
.circle-2 {
  color: #fff;
  padding: 5%;
  width: 300px;
  height: 300px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
  justify-content: center;
  position: relative;
 
}
.circle-1 {
  background: #eb89ba48;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
.circle-2 {
  background: #4b4068;
  border-radius: 80% 30% 50% 50%/50%;
}
.circles {
	display: flex;
	justify-content: center;
	padding: 5px;
	background: #ffebf5;
  }


.carousel-nav-icon {
	height: 48px;
	width: 48px;
 }
 .carousel-item {
	.col, .col-sm, .col-md {
	   margin: 8px;
	   height: 300px;
	   background-size: cover;
	   background-position: center center;
	}
 }
 
 
.container {
	text-align: auto;
	font-family: roboto;
	padding: 5%;
}


.container-header {
	font-family: roboto;		
}

.container-header-2 {
	font-family: roboto;
	border-radius: 15px;	
}



.contact {
	text-align: center;
	align-items: center;
	padding: 10%;
}
.get-in-touch {
	max-width: 800px;
	margin: 50px auto;
	position: relative;
  
  }
  .get-in-touch .title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 3.2em;
	line-height: 48px;
	padding-bottom: 48px;
	   color: #ffb8dc;
	  background: #ffb8dc5543ca;
	  
  }
  .contact-form .form-field {
	position: relative;
	margin: 32px 0;
  }
  .contact-form .input-text {
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color:  #7a6a72;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
  }
  .contact-form .input-text:focus {
	outline: none;
  }
  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
	-webkit-transform: translateY(-24px);
			transform: translateY(-24px);
  }
  .contact-form .label {
	position: absolute;
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #7a6a72;
	cursor: text;
	transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out, 
	-webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
	display: inline-block;
	background-color: #ffb8dc;
	align-items: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	width:200px;
	cursor: pointer;
  }
  
  
.copyright {
	text-align: center;
}


h5 {
	padding: 2.5%;
}